* {
    font-family: "Fruances" , "serif";
    color: #fff;
}
body{
    margin: 0;
    background-color: #224870 ;
    
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5rem;
    border: none;
    background-color: #00916e ;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f ;

}
button:hover{
    background-color:#00ad85;
}
button:active{
    background-color: #006f54;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 400px;
    height: 80%;
    margin: 0 auto;
}
 .calculadora{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
    
 }
 .display{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin: 10px 20px;
    background-color: #282828;
    border-radius: 32px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000036
 }
 .col-2{
    grid-column: span 2;
 }
 #valor-actual{
    font-size: 1.3rem;

 }
 #valor-anterior{
    font-size: 2.5rem;
 }
 .creditos{
     width: 600px;
     display: flex;
     margin-left: 60px;
    
    
 }
 .creditos_title{
   display: flex;
   justify-items: center;
    
 }
 .creditos_title p{
    margin-left: 10px;
 }
